{% extends 'base_index.html' %}
{% block title %}Blog Posts{% endblock title %}
{% block content %}
{% for post in post_list %}
<!-- Blog Post -->
<div class="card mb-4">
 <img class="card-img-top" src="{{post.topImage.url}}" alt="Card image cap">
  <div class="card-body">
    <h2 class="card-title">{{post.title}}</h2>
    <p class="card-text">{{post.body|truncatechars:400|safe}}</p>

    <a href="{% url 'post_detail' post.pk %}" class="btn btn-primary">Read More &rarr;</a>
  </div>
  <div class="card-footer text-muted">
    Posted on {{post.date|safe}} by
    <a href="{% url 'profile' post.author.pk %}" >{{post.author}}</a>
    in <a href="{% url 'category_list' post.category.pk %}">{{post.category}}</a> 
  </div>
</div>
{% endfor %}  

{% endblock content %}


