{% extends 'base_index.html' %}

{% block content %}
{% block title %}<h3>Search Result....</h3>{% endblock title %}
{% for post in post_list %}

<div class="card mb-4">
    
  
  <div class="card-body">
    <h2 class="card-title">{{post.title}}</h2>
    <p class="card-text">{{post.body|truncatechars:400|safe}}</p>
    <a href="{% url 'post_detail' post.pk %}" class="btn btn-primary">Read More &rarr;</a>
  </div>
  <div class="card-footer text-muted">
    Posted on {{post.date|safe}} by
    <a href="{% url 'profile' post.author.profile.pk %}">{{post.author}}</a>
  </div>
</div>  
{% endfor %}

{% endblock content %}

